<div id="About" class="container">
    <div class="row">
      <div class="col-sm-8">
        <h2>G3 Project's</h2><br>
        <h3><b><i>Getting Bored ??</i></b></h3><br>
        <p>Are you getting bored, come let's utilize your precious time in our website. We
            grant that this time will not be your time waste. Instead of that this time will
            teach  you a new lessons and improve your logical Thinking. In this website,
            we provide you with lots of variety of MCQ's question and also Descriptive type of
            question also brain teaser type of question which will help to improve your  
            logical thinking. 
                Also there is a game section which will help to relief your tension.
        </p>
        
      </div>

    </div>
  </div>
<div class="container bg-grey">
    <div class="row">
      
      <div class="col-sm-5">
        <h2>Our Values</h2><br>
        <h4><strong>MISSION:</strong> Our mission lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
        <p><strong>VISION:</strong> Our vision Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>
  